<div id="<%= dom_id forbidden_food_user %>">
  <p>
    <strong>User:</strong>
    <%= forbidden_food_user.user_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= forbidden_food_user.ingredient_id %>
  </p>

</div>
