<h1>Editing assignation to buy</h1>

<%= render "form", assignation_to_buy: @assignation_to_buy %>

<br>

<div>
  <%= link_to "Show this assignation to buy", @assignation_to_buy %> |
  <%= link_to "Back to assignation to buys", assignation_to_buys_path %>
</div>
