<p style="color: green"><%= notice %></p>

<h1>User trips</h1>

<div id="user_trips">
  <% @user_trips.each do |user_trip| %>
    <%= render user_trip %>
    <p>
      <%= link_to "Show this user trip", user_trip %>
    </p>
  <% end %>
</div>

<%= link_to "New user trip", new_user_trip_path %>
